{% extends "common/layout.html" %}
{% block title %}Moje paczki{% endblock %}
{% block main %}
<section>
    <h4>Lista paczek</h4>
    <table class="table">
        <tr>
            <th scope="col">Identyfikator paczki</th>
            <th scope="col">Odbiorca</th>
            <th scope="col">Identyfikator skrytki</th>
            <th scope="col">Rozmiar paczki</th>
        </tr>
        {% for package in packages %}
            <th scope="row">{{package.id}}</th>
            <th>{{package.receiver}}</th>
            <th>{{package.machine_id}}</th>
            <th>{{package.size}}</th>
        {% endfor %}
    </table>
</section>
{% endblock %}