<form class="form-container" method="POST" action="/sender/register">
    <h4>Zarejestruj się</h4>
    <div class="form-elements">
        <p>
            <label>Imię</label>
            <input type="text" class="form-control validated-input" id="firstname" name="firstname" placeholder="Imię"/>
        </p>
        <p>
            <label>Nazwisko</label>
            <input type="text"  class="form-control validated-input" id="lastname" name="lastname" placeholder="Nazwisko"/>
        </p>
        <p>
            <label>Login</label>
            <input type="text" class="form-control validated-input" id="login" name="login" placeholder="Login"/>
        </p>
        <p>
            <label>Email</label>
            <input type="text" class="form-control validated-input" id="email" name="email" placeholder="Email"/>
        </p>
        <p>
            <label>Hasło</label>
            <input type="password" class="form-control validated-input" id="password" name="password" placeholder="Hasło"/>
        </p>
        <p>
            <label>Powtórz hasło</label>
            <input type="password" class="form-control validated-input" id="rpassword" name="rpassword" placeholder="Powtórz hasło"/>
        </p>
        <p>
            <label>Adres</label>
            <input type="text" class="form-control validated-input" id="address" name="address" placeholder="Adres"/>
        </p>
    </div>
    <input class="input-submit" type="submit" name="submit" value="Zarejestruj się"/>
</form>